
<div class="container mt-5 mb-5 mx-auto">
    <div class="row d-flex flex-column justify-content-center">
        <div class="card col-6" style="width: 18rem;">
            <img src="https://test-api.storexweb.com/{{userData.image}}" class="card-img-top" alt="...">
            <div class="card-body">
              <p class="card-title"><b>Movie Name: </b>{{userData.name}}</p>
              <p class="card-text"> <b>Movie Description:</b> {{userData.description}} <br>
               <b>Movie Category: </b> {{userData.category.name}}</p>
              <a routerLink="/" class="btn btn-primary">return To Home </a>
            </div>
          </div>
    </div>
</div>